@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}


/* START: Header styles */
.header{
  @apply w-full absolute z-10 top-0 py-1;
}

.navbar{
  @apply w-[90vw] mx-auto flex justify-between items-center;
}
/* END: Header styles */